<div class = "container">
  <p> Ask your coach anything </p>

    <form action="/answer" data-turbo="false">
      <div class="input-group mb-3">
          <%# <input type="text" name="question"> %>
          <input type="text" name="question" class="form-control" placeholder="Type your question to the coach" aria-label="Recipient's username" aria-describedby="button-addon2">
          <%# <input type="submit" value="Ask!"> %>
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Ask!"> Ask </button>
      </div>
    </form>
</div>
